<%- include('../inc/top') %>
  <h2 class="text">Danh sách thể loại</h2>
  <button type="button" class="btn btn-primary btnThemMoi bg-success float-end me-4" data-bs-toggle="modal"
        data-bs-target="#exampleModalToggle2">Thêm loại</button>
 
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="" method="post">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Thêm loại sản phẩm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tên loại</label>
            <input type="text" name="tenloai" class="form-control" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
          <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="changeThColor ps-4">Tên Thể Loại</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% listTL.forEach(item=> { %>
      </tr>
      <td class="ps-4"><%= item.name  %></td>
      <td> 
        <a href="/theloai/<%= item._id %>/editTheLoai"> <i  class='bx bx-edit-alt icon colorIcon bx-md'> </i></a>
        <a data-bs-toggle="modal" data-bs-target="#deleteModal" href="" data-id="<%= item._id %>">
          <i class='bx bx-trash-alt icon bx-md text-danger'></i>
        </a>
      </td>
      <% }) %>
    </tbody>
  </table>
  
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Bạn chắc chắc muốn xóa user này</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" id="btnDeleteProduct" class="btn btn-primary bg-danger">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
   <!-- hide from delete -->
   <form method="POST" name="delete-form" ></form>
   <script>
     var productId; 
     var deleteForm = document.forms['delete-form']
     const deleteModal = document.getElementById('deleteModal')
     const btnDeleteProduct = document.getElementById('btnDeleteProduct');
     deleteModal.addEventListener('show.bs.modal', event => {
       
       const button = event.relatedTarget
      
       const id = button.getAttribute('data-id')
       productId =id;
       console.log(id);
 
     })
     btnDeleteProduct.onclick = function (){
         
         deleteForm.action="/theloai/"+productId+"/deleteTheLoai";
         deleteForm.submit();  
       }
   </script>
  <%- include('../inc/bottom') %>